/*Setup*/
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Poppins,'sans-serif';
            font-size: 15px;

        }

    /*Variaveis*/
        :root{
            --cor-branca: #FFFFFF;
            --cor-azul: #01c0ec;
            --cor-azulEscuro:#01151a;
        }
    /*fontes*/
        @font-face {
            font-family: Poppins;
            src: url(../fonts/poppins/Poppins-Medium.ttf);

            font-weight: 500;
        }
        @font-face {
            font-family: Poppins;
            src: url(../fonts/poppins/Poppins-ExtraBold.ttf);

            font-weight: 900;
        }
        @font-face {
            font-family: Poppins;
            src: url(../fonts/poppins/Poppins-ExtraLight.ttf);

            font-weight: 100aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa;
        }

/*Fim do Setup*/

/*Style Global*/

        .container{
            max-width: 1140px;
            margin: 0 auto;
        }

        a{
            list-style: none;
            text-decoration: none;
            color: black;
        }

        .span{
            color: #01c0ec;
        }


/*Fim Style Global*/

/* Cabeçalho */

        header{
            background-image: url(..//img/midias/Header_BG.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100vh ;
            overflow:hidden;
        }
        .header-area{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap; 
        }

    /* Esquerda */    

        .header-area--left{
            background-color: ;
            margin-top: 5rem;
            width: 60%;
            padding: 1rem;
            padding-left: 3rem;
        }
        .logo-header{
            height: 9rem;
            margin-bottom: 2em;
        }

        .titulos-titulo{
            font-size: 2em;
            font-weight: 900;
            color: #FFFFFF;
            margin-bottom: 1rem;
            text-transform:uppercase ;
        }
        .titulos-subtitulo{
            font-size: 1.8em;
            font-weight: 100;
            color: #FFFFFF;
        }
        .titulos-subtituloDois{
            align-items: center;
            margin-top: 2em;
            display: flex;
        }

        .fature{
            font-weight: 200;
            text-transform: uppercase;
            font-size: 2.2em;
            color: #FFFFFF
        }

        .oitenta{
            color: #01c0ec;
            font-size: 1.1em;
            font-weight:600;
        }

        .titulos-subtituloDois img{
            width: 1.5em;
            margin-right: 10px;
        }


        .botao--wa{
            width: 18em;
            height: 2.5em;
            border-radius: 7px;
            margin-top: 2em;
            border: transparent;
            background-color: #01c0ec;
            color: #FFFFFF;
            font-size: 1.3em;
            font-weight: 600;
            cursor: pointer;
        }

    /* Direita */

        .header-area--right{
            background-color: ;
            margin-top: 5rem;
            width: 40%;
            position: relative;
        }
        .pontos-header{
            position: absolute;
            right: 0;
            width: 8rem;

        }
        .img-header{
            width: 100%;
        }
        .header-area--right::after{
            content: '';
            background-color:var(--cor-azul);
            width: 3rem;
            height: 0.8rem;
            border-radius: 10px;
            position: absolute;
            bottom: -2rem;
            left: 50%;
        }
    /* Transição */
        .transicao{
            position: absolute;
            left: 0;
            right: 0;
            margin-top: -8rem;
            width: 100%;
        }

        header::after{
            content: '';
            position: absolute;
            bottom: -70%;
            background-image: url('../img/midias/Transição\ Header2.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }

/* Fim Cabecalho */



/* Conteudo */

        main{

        }

    /* Inicio Seção historia*/
        #historia{
            background-image: url(../img/midias/Transicao_02.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            margin-top: 5rem;
            padding-top: 5rem;
            padding-bottom: 10rem;
        }
        .historia-area{
            display: flex;
            flex-direction: column;
            padding-top: 5rem;
            text-align: center;
        }
        .historia-area--titulo{
            margin-bottom: 2rem;
        }
        .historia-area--titulo p{
            font-size: 2.5em;
            color: #FFFFFF;
            font-weight: 600;
        }
        .historia-area--titulo span{
            font-size: 1em;
        }

        .historia-area--conteudo{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .--conteudo-texto {
            color: #FFFFFF;
            max-width: 500px;
        }
        .--conteudo-texto p{
            text-align:start;
            padding-right: 1rem;
            font-size: 1.3em;
            width: 100%;
        }
        .--conteudo-img{
            max-width: 500px;
            padding-left: 2rem;
        }
        .--conteudo-img img{
            width: 100%;
        }
        .btn-cta{
            margin-top: 2rem;
        }

    /* Transição Historia*/
        #historia::after{
            content: '';
            background-image: url('..//img/midias/Transição\ Section.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 3.5em;
            width: 100%;
            height: 60%;
            position: absolute;
        }        


    /*Porque Investir*/
        #PQ_Investir{
            background-color: #01151a;
            width: 100%;
            height: 100%;
            padding-bottom: 5rem;
        }
        .pq-investir{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .pq-investir--titulo{
            margin-top: 15%;
            color: #FFFFFF;
            font-weight: 600;
        }
        .pq-investir--titulo p{
            font-size: 2em;
        }
        .pq-span{
            font-size: 1em;
        }

    /* Grid dos beneficios*/

        .pq-investir--grid{

        }

        .pq-investir--grid-itens{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;
        }
        .item{
            width: 20em;
            height: 13em;
            border: #01c0ec solid 1px;
            border-radius: 10px;
            text-align: center;
            margin: 1em;
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .item img{
            width: 50px;
        }
        .item p{
            color: #FFFFFF;
            font-size: 1.5em;
        }
        .item span{
            font-size: 1em;
        }


    /* 
    ---------------------
    - Estamos a procura -
    ---------------------
    */

        #A_Procura{
            background-image: url(../img/midias/Section4.png);
            width: 100%;
            height: 100%;
            padding: 3rem;
        }
        .a-procura--area{
            display: flex;
            justify-content: space-around;
        }
        .a-procura--titulos{
            width: 50%;
            margin-left: 5rem;
            color: #FFFFFF;
        }

        .a-procura--titulos h1{
            font-size: 2.5em;
        }
        .a-procura--titulos p{
            font-size: 1em;
        }

        .a-procura--btn button{
            background-color:#01151a ;
            width: 18em;
            height: 3.5em;
            font-size: 1em;
        }

    /* 
    --------------
    - Formulario - 
    --------------
    */

        #formulario{
            background-image: url(../img/midias/Section_formulario.png);
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            padding-top: 2rem;
        }
        .formulario-area{
            color: #FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .formulario-area--titulo p{
            font-size: 4em;
            font-weight: 600;
        }
        .formulario-area--titulo span{
            font-size: 1em;
            font-weight: 600;
        }

        .formulario-area--subtitulo p{
            font-size: 1.5em;   
        }

        .formulario-area--formulario{

        }

        form{
            color: #FFFFFF;
            display: flex;
            flex-direction: column;
            text-align: start;  
            margin-top: 3rem;
        }

        .input{
            width: 25rem;
            margin-bottom: 0.5rem;
            border-radius: 5px;
        }
        .btn-cta{
            margin-top: 0;
        }

        .transicao-formulario img{
            width: 100%;
            margin-top: 5rem;
        }




    /*
    ----------
    - Footer -
    ----------
    */

        footer{
            background-color: #01151a;
            color: #FFFFFF;
        }

        .footer-area{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 4rem;
        }
        .informacao--titulo{
            margin-bottom: 2rem;
        }

        .informacao--titulo p{
            font-size: 3em;
            font-weight: 500;
        }
        .informacao--titulo p::after{
            content: '';
            width: 5rem;
            height: 5px;
            border-radius: 5px;
            background-color: #01c0ec;
            position: absolute;
            display: flex;
        }

        .informacoes{
            display: flex;
            margin-top: 1rem;
        }
        .informacoes img{
            width:25px;
            height: 25px;
            margin-right: 10px;
        }
        .informacaoes a{
            color: #FFFFFF;
        }


        /*Coluna da direita*/

        .footer-area--direita img{
            width: 150px;
        }
        .titulo{
            margin-bottom: 10px;
        }
        .titulo p{
            font-size: 1.5em;
            font-weight: 600;

        }
        .titulo .span{
            font-size: 1em;
        }


        /*Redes Sociais*/

        .informacao--redesSociais{
            display: flex;
            margin-top: 2rem;
        }
        .informacao--redesSociais img{
            width: 40px;
            margin-right: 10px;
        }

     /*
    --------
    - Copy -
    --------
    */

        .copy{
            background-image: url('..//img/midias/BG-copy.png');
            color: #FFFFFF;
            align-items: center;
            text-align: center;
            height: 100%;
            width: 100%;
        }
        .copy p{
            font-weight:450;
        }

/* Fim Conteudo */




/*
    ---------------
    - Responsivo  -
    ---------------
*/


/* Responsivo (1024px - 768px) Topo Header*/

        @media (max-width:1024px) and (min-width:768px){
            .header-area--right{
                display: none;
            }
            .header-area--left{
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                padding: 2rem;
            }
            .logo-header{
                width: 40%;
                height: 40%;
            }
            .titulos{
                margin-top: 1rem;
            }
            .titulos-titulo{
                font-size: 3em;
                text-align: center;
                width: 100%;
            }
            .titulos-subtitulo{
                font-size: 2em;
                text-align: center;
            }
            .titulos-subtituloDois{
                flex-direction: row;
                justify-content: center;
            }
            .btn-header{
                width: 40em;
                height: 3em;
            }

/* A Procura */

            #A_Procura{
                padding: 1rem;
            }

            .a-procura--btn{
                align-items: center;
                display: flex;
                justify-content: center;
            }

/* Footer */

            .footer-area{
                padding: 2rem;
            }
    
        }



/* Responsivo (1024px - 768px) Topo Header*/

@media (max-width:767px) and (min-width:480px){
    .header-area--right{
        display: none;
    }
    .header-area--left{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .logo-header{
        width: 40%;
        height: 40%;
    }
    .titulos{
        margin-top: 1rem;
    }
    .titulos-titulo{
        font-size: 3em;
        text-align: center;
        width: 100%;
    }
    .titulos-subtitulo{
        font-size: 2em;
        text-align: center;
    }
    .titulos-subtituloDois{
        flex-direction: row;
        justify-content: center;
    }
    .btn-header{
        width: 40rem;
        height: 3em;
    }

/* Investir */

    .pq-investir{
        padding-top: 25%;
    }

    .item{
        width: 15em;
    }


/* A Procura */

    #A_Procura{
        padding: 1rem;

    }
    .a-procura--area{
        flex-direction: column;
        align-items: center;
    }
    .a-procura--titulos{
        width: 100%;
        margin: 0;
    }

    .a-procura--btn{
        
    }


/* Formulario */

    .formulario-area{
        padding: 0.5rem;
    }
    .formulario-area--titulo p{
        width: 100%;
        font-size: 3rem;
    }

    .input{
        width: 30rem;
        height: 2rem;
    }

/* Footer */

    .footer-area{
        padding: 1rem;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .footer-area--direita{
        display: none;

    }
}